:root {
    --white-color:                  #FFFFFF;
    --primary-color:                #247cff;
    --section-bg-color:             #F9F9F9;
    --dark-color:                   #000000;
    --title-color:                  #565758;
    --p-color:                      #717275;
    --border-color:                 #eaeaea;
  
    --body-font-family:             'Open Sans', sans-serif;
  
    --h1-font-size:                 48px;
    --h2-font-size:                 36px;
    --h3-font-size:                 32px;
    --h4-font-size:                 28px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  18px;
    --menu-font-size:               16px;
  
    --font-weight-light:            300;
    --font-weight-normal:           400;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
  }
  body {
    background: var(--section-bg-color);
    font-family: var(--body-font-family);    
    position: relative;
    padding-top: 94px;
    font-family: 'Exo', sans-serif;
}

  .maincontainerbodypart{
     background: #0099ff; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  .pediatrationbox,.generalphysician{
    background: #C4D8E4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bacjgrounbox{
    background-color: #0099ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .containent{
    margin-top: 5%;
  }
  .contentlines{
    margin-top: 5%;
  }
  .imbox{
    margin-top: 10%;
  }
  
  .bordering1{
    border-radius: 50px;
  }
  .bordering2{
    border-radius: 25px 0 25px 0;
  }
  .bordering3{
    border-radius: 0px 25px 0px 25px;
  }
  .bordering4{
    border-radius: 0px 25px 85px 25px;
  }
  .bordering5{
    border-radius: 20px 0px 85px 25px;
  }
  .bordering6{
    border-radius: 20px 85px 85px 25px;
  }
  .bordering7{
    border-radius: 85px 85px 85px 85px;
  }
  .list-ico{
    list-style: none;
    li{
      margin-top: 5%;
    }
  }
  span{
    font-size: large;
    font-weight: bold;
  }
  iframe{
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #9e9e9e;
  }
  .backki{
    background: #eaeaea;
    border-radius: 20px;
    
  }